html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

   ul{
    list-style-type:none;
   }

   h1,h3{
    margin: 1rem;
}
    h1{
        font-family: lexend;
        font-size: 2.5rem;
    }
    h2{
        font-family: Lexend;
    }

    h3{
        font-family: Abel;
        font-size: 1.3rem;
    }

    .container{
        margin: 0 1vw;
    }

    .btn{
        border: none;
        border-radius: 2rem;
        padding: 1rem 3rem;
        font-size: 1rem;
        font-family: Livvic;
        cursor: pointer;
        margin: 1.8rem;
        background: linear-gradient(lightblue,skyblue);
    }

    .text-gray{
        color: gray;
    }

    /*navbar*/

    .nav{
        background:white;
        padding: 0 2rem;
        height: 0rem;
        min-height: 15vh;
        overflow: hidden;
        transition: height 1s ease-in-out;
    }

     .toggle-collapse{
      position: absolute;  
      top: 0;
      width: 90%;
      cursor: pointer;
      display: none; 
     }

     .toggle-icons{
       display: flex;
       justify-content: flex-end;
       padding: 1.7rem 0;
     }
    
     .toggle-icons i{
        font-size: 1.4rem;
         color:gray ;
     }

     .collapse{
         height: 40rem;
     }

   .nav-menu{
       justify-content: space-between;
   }

    .nav-brand {
        font-size: 1.6rem;
        padding: 1rem 0;
        font-family: Lexend;

    }

    .nav-items{
        display: flex;
        margin: 0;
        padding: 1.6rem 1rem;
        font-size: 1.1rem;
        position: relative;
        font-family: Abel;
    }

    .nav-link{
        padding: 1.6rem 1rem;
        font-size: 1.1rem;
        position: relative;    
    }
    
    .sidebar{
        margin-left: 4rem;
    }

    a{
        text-decoration: none;
        color: #3f4954;
    }

    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .social{
        padding: 1.4rem;
    }

    .nav-link:hover{
        background-color: midnightblue;
    }

    .nav-link:hover a{
        color: #ffffff;
    }

    .social i{
        padding: 0 0.4rem;
    }

    .social i:hover{
        color: #a1c4cf;
    }

    .btn:hover{
        background: transparent;
        border: 1px solid white;
        color: white;
    }


   .site-background{
       padding-top: 2rem;
       text-align: center;
  }
    

      .blog-post{
          padding-top: 1rem;
      }

      .blog-content{
           display: flex;
           flex-direction: column;
           text-align: center;
           width: 80%;
           margin: 3rem 2rem;
           box-shadow: 0 15px 20px rgb(0,0,0.2);
      }

      .blog-title{
          padding: 2rem 0;
      }

      .btn-blog{
          padding: 0.7rem 2rem;
          background: skyblue;
          margin: 0.5rem;
          border: none;
          border-radius: 16rem;
      }

      .post-btn{
        padding: 0.7rem 1.5rem;
        background: skyblue;
        margin: 0.2rem;
        border: none;
        border-radius: 0;
        cursor: pointer;
      }

       .site-content{
           display: grid;
           grid-template-columns: 60% 40%;
        
       }

       .post-content{
           margin-bottom: 5rem;
           margin-top: 3rem;
           width: 100%;
       }

        
       .sidebar{
           margin-top: 3rem;
       }

        .post-image {
            overflow: hidden;
        }
       
        .img{
            width: 100%;
            transition: all 1s ease;
        }
      
        .img:hover{
            transform: scale(1.3);
        }

        p{
            font-family: Lexend;
            color: grey;
        }
      .head-link{
          font-family: Anton;
          font-size: 1.5rem;
      }
      

      #category{
          padding-bottom: 2rem;
      }
       
 
      .post-title a{
          font-size: 1rem;
      }
       
        
       .category-list{
           font-family: Livvic;
       }

          .list-items{
              background: skyblue;
              padding: 0.8rem 1rem;
              margin: 0.6rem 0;
              border-radius: 2rem;
              width: 70%;
              display: flex;
              justify-content: space-between;
          }        
                  

          .head-first{
              font-family: Abel;
          }

          .head-second{
              padding: 1rem;
              font-family: Abel;
          }

          .newsletter{
              padding-top:3rem ;
              padding-bottom: 3rem;
          }

          .form-btn{
              padding: 0.5rem 1rem;
              background: skyblue;
              margin: 0.2rem;
              border: none;
              border-radius: 2rem;
              cursor: pointer;
          }
        
          .popular-tags{
              padding: 4rem 0;
          }

          .tag{
              background: skyblue;
              padding: 0.6rem 1.2rem;
              border-radius: 3rem;
              margin: 0.4rem 0.6rem;
              font-family: Livvic;
              cursor: pointer;
          }
        
          #footer{
              height: 100%;
              background: #0f0f0f;
              position: relative;
          }

          .newsletter{
              padding: 0rem;
          }

          .containerin{
              display:grid;
              grid-template-columns: 25% 25% 25% 25%;
              flex-grow:1;
              flex-basis: 0;
              padding: 3rem 0.9rem; 
          }

          .foothead{
              font-family: Livvic;
              font-weight: bold;
              color: white;
              padding-right: 2rem ;
          }

          .inputin{
              padding: 0.3rem 0.3rem;
              display: inline-block;
              background: skyblue;
              border: white;
              color: black;
              font-family: Josefin;
              font-size: 1rem;
              width: 60%;       
            }

            .span{
                background: wheat;
                padding: 0.5rem 0.7rem;
                cursor: pointer;
            }

            .image{
                display: inline-block;
                width: 25%;
                height: 50%;
                margin: 0.4rem 0.2rem;
                transition: all 1s ease;
            }

            .image:hover{
                transform: scale(1.3);
            }


            .whitee{
                color: white;
                padding: 1rem;
            }

        .rights{
            justify-content: center;
            font-family: Josefin;
        }

    .text-grey{
        color: gray;
        padding-bottom: 3rem;
    }


    /*Viewport less than or equal to 750px*/

   @media screen and (max-width:750px){
      .nav-menu,.nav-items{
          flex-direction: column;
      } 
      .toggle-collapse{
          display: initial;
      }
   

  .site-content{
      grid-template-columns: 100%;
  }
    
  .containerin{
      grid-template-columns: repeat(1,1fr);
  }

 }
